<template name="focus">
<div id="focus">
  <form id="rename-form">
    <table>
      <tr>
        <td>Text</td>
        <td>{{> inputAutocomplete settings=text_settings id="focus-edit-text" value=initial_value name="text"}}</td>
      </tr>
      {{#unless root}}
      <tr>
        <td>Parent</td>
        <td>{{> inputAutocomplete settings=parent_settings id="focus-edit-parent" value=parent_value name="parent"}}</td>
      </tr>
      {{/unless}}
      <tr>
        <button style="display:none"></button><!-- fix weird submit creating click problem -->
        <td><button id="archive-btn">{{complete_text}}</button></td>
        <td><button id="fold-btn">{{fold_text}}</button></td>
      </tr>
      <tr>
        <td><button id="new-btn">New</button></td>
      </tr>
    </table>
    <br>
    <input type="submit" style="display:none">
  </form>
</div>
</template>

